function Random.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 0
push pointer 0
return
function Random.mySrand 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function Random.myRand 1
push argument 0
pop pointer 0
push this 0
push constant 113
call Math.multiply 2
push constant 123
add
pop local 0
push local 0
push constant 32767
call Random.findRemains 2
return
function Random.Next 3
push argument 0
pop pointer 0
push argument 2
push argument 1
sub
pop local 1
push argument 2
push argument 1
add
push constant 2
call Math.divide 2
push constant 1
add
pop local 2
push local 2
push constant 299
call Random.findRemains 2
pop local 0
push pointer 0
push local 0
call Random.mySrand 2
pop temp 0
push argument 2
push pointer 0
call Random.myRand 1
push local 1
call Random.findRemains 2
sub
return
function Random.findRemains 1
push argument 0
push argument 1
call Math.divide 2
pop local 0
push argument 0
push argument 1
push local 0
call Math.multiply 2
sub
return
